{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="p-6">
        <div class="flex items-center mb-6 space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="back-icon"
                 viewBox="0 0 20 20"
                 onclick="history.back()"
                 fill="none">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17l-7-7 7-7" />
            </svg>
            <p class="text-gray-700 text-2xl font-medium">{{ staff.get_full_name }}'s Profile</p>
        </div>
        <div class="card">
            <form method="post"
                  enctype="multipart/form-data"
                  class="grid grid-cols-3 lg:grid-cols-4 lg:gap-4 gap-3">
                {% csrf_token %}
                {% comment %} User Form Fields {% endcomment %}
                <div>
                    <label class="form-label">{{ user_form.first_name.label_tag }}*</label>
                    {{ user_form.first_name|add_class:"form-input" }}
                    {% if user_form.first_name.errors %}<div class="form-error">{{ user_form.first_name.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ user_form.last_name.label_tag }}*</label>
                    {{ user_form.last_name|add_class:"form-input" }}
                    {% if user_form.last_name.errors %}<div class="form-error">{{ user_form.last_name.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ user_form.address.label_tag }}</label>
                    {{ user_form.address|add_class:"form-input" }}
                    {% if user_form.address.errors %}<div class="form-error">{{ user_form.address.errors }}</div>{% endif %}
                </div>
                <div class="row-span-3">
                    <label class="form-label">{{ user_form.profile_image.label_tag }}</label>
                    <div class="relative h-56 w-56 border-2 border-primaryLogo overflow-hidden flex items-center justify-center mx-auto rounded-full ">
                        <img id="profileImagePreview"
                             src="{{ staff.profile_image.url }}"
                             alt="{{ staff.get_full_name }}"
                             class="object-fill absolute scale-110"
                             width="full"
                             height="full" />
                    </div>
                    <input type="file"
                           id="id_profile_image"
                           name="profile_image"
                           class="hidden"
                           accept="image/*">
                    <label for="id_profile_image"
                           class="mt-4 mx-auto w-36 justify-center btn-primary flex">Choose File</label>
                    {% comment %} {{ user_form.profile_image|add_class:"form-input" }} {% endcomment %}
                    {% if user_form.profile_image.errors %}<div class="form-error">{{ user_form.profile_image.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ user_form.username.label_tag }}*</label>
                    {{ user_form.username|add_class:"form-input" }}
                    {% if user_form.username.errors %}<div class="form-error">{{ user_form.username.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ user_form.email.label_tag }}*</label>
                    {{ user_form.email|add_class:"form-input" }}
                    {% if user_form.email.errors %}<div class="form-error">{{ user_form.email.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ user_form.contact.label_tag }}</label>
                    {{ user_form.contact|add_class:"form-input" }}
                    {% if user_form.contact.errors %}<div class="form-error">{{ user_form.contact.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ user_form.position.label_tag }}</label>
                    {{ user_form.position|add_class:"form-input" }}
                    {% if user_form.position.errors %}<div class="form-error">{{ user_form.position.errors }}</div>{% endif %}
                </div>
                <div class="col-start-1 col-span-full">
                    <label class="form-label">{{ user_form.biography.label_tag }}</label>
                    {{ user_form.biography|attr:"rows:3"|add_class:"form-input" }}
                    {% if user_form.biography.errors %}<div class="form-error">{{ user_form.biography.errors }}</div>{% endif %}
                </div>
                {% comment %} Submit Button {% endcomment %}
                <div class="flex space-x-4 justify-end col-span-full">
                    <a href="{% url 'core:staff' %}" class="btn-secondary">Cancel</a>
                    <button type="submit" class="btn-primary">Update Profile</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('id_profile_image').addEventListener('change', function(event) {
            const file = event.target.files[0];  // Get the selected file
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('profileImagePreview').src = e.target.result; // Update image preview
                };
                reader.readAsDataURL(file); // Convert file to base64 URL
            }
        });
    </script>
{% endblock content %}
