{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register Your Account</title>
        <meta name="description" content="Temporary register page" />
        <meta name="keywords" content="register, DCMS" />
        <link href="{% static '/css/output.css' %}" rel="stylesheet">
        <!-- Include SweetAlert2 CSS -->
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.min.css"
              rel="stylesheet" />
        <!-- Include SweetAlert2 JS -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.min.js"></script>
    </head>
    <body class="bg-gradient-to-r from-[#e9efef] to-primaryLogo flex justify-center items-center h-screen">
        <div class="bg-white p-8 rounded-lg shadow-md lg:w-2/4 md:w-2/4 border-2 border-primaryLogo">
            <p class="lg:text-5xl md:text-4xl text-3xl font-bold text-center mb-8 text-[#1d2a2a]">Register</p>
            <form method="post" class="grid grid-cols-1 lg:grid-cols-2 lg:gap-6 gap-6 ">
                {% csrf_token %}
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.first_name.label_tag }}</label>
                    {{ form.first_name|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.first_name.errors %}<div class="text-red-500 text-sm">{{ form.first_name.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.last_name.label_tag }}</label>
                    {{ form.last_name|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.last_name.errors %}<div class="text-red-500 text-sm">{{ form.last_name.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.address.label_tag }}</label>
                    {{ form.address|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.address.errors %}<div class="text-red-500 text-sm">{{ form.address.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.contact.label_tag }}</label>
                    {{ form.contact|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.contact.errors %}<div class="text-red-500 text-sm">{{ form.contact.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.username.label_tag }}</label>
                    {{ form.username|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.username.errors %}<div class="text-red-500 text-sm">{{ form.username.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.email.label_tag }}</label>
                    {{ form.email|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.email.errors %}<div class="text-red-500 text-sm">{{ form.email.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.password1.label_tag }}</label>
                    {{ form.password1|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.password1.errors %}<div class="text-red-500 text-sm">{{ form.password1.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.password2.label_tag }}</label>
                    {{ form.password2|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.password2.errors %}<div class="text-red-500 text-sm">{{ form.password2.errors }}</div>{% endif %}
                </div>
                <button type="submit"
                        class="col-span-2 w-full text-xl bg-primaryLogo text-white py-2 rounded-md hover:bg-[#00A1A1] focus:outline-none focus:ring focus:ring-primaryLogo">
                    Register
                </button>
            </form>
            <p class="mt-4 text-center text-secondaryLogo">
                Already have an account?
                <a href="{% url 'login' %}" class="text-primaryLogo hover:underline">Login here</a>
            </p>
        </div>
        {% if messages %}
            <script>
            {% for message in messages %}
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: '{{ message.tags }}',
                    title: '{{ message }}',
                    showConfirmButton: false,
                    timer: 3000,
                    background: '#F5F5F5',
                    iconColor: '{% if "success" in message.tags %}#28A745{% elif "error" in message.tags %}#DC3545{% else %}#FFC107{% endif %}',
                    showClass: {
                        popup: 'animate__animated animate__fadeInRight'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutRight'
                    }
                });
            {% endfor %}
            </script>
        {% endif %}
    </body>
</html>
