{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register Your Account</title>
        <meta name="description" content="Temporary register page" />
        <meta name="keywords" content="register, DCMS" />
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Include SweetAlert2 CSS -->
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.min.css"
              rel="stylesheet" />
        <!-- Include SweetAlert2 JS -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.min.js"></script>
    </head>
    <body class="bg-gradient-to-r from-[#e9efef] to-[#00B2B2] flex justify-center items-center h-screen">
        <div class="bg-white p-8 rounded-lg shadow-md lg:w-1/4 md:w-2/4 border-2 border-[#00B2B2]">
            <p class="lg:text-5xl md:text-4xl text-3xl font-bold text-center mb-8 text-[#4e4d4d]">Register</p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-sm font-medium text-[#7C7C7C]">{{ form.username.label_tag }}</label>
                    {{ form.username|add_class:"mt-1 block w-full px-4 py-2 border border-[#D7CABD] rounded-md text-[#7C7C7C] focus:outline-none focus:ring-1 focus:ring-[#00B2B2]" }}
                    {% if form.username.errors %}<div class="text-red-500 text-sm">{{ form.username.errors }}</div>{% endif %}
                </div>
                <div class="mb-4">
                    <label class="block text-sm font-medium text-[#7C7C7C]">{{ form.email.label_tag }}</label>
                    {{ form.email|add_class:"mt-1 block w-full px-4 py-2 border border-[#D7CABD] rounded-md text-[#7C7C7C] focus:outline-none focus:ring-1 focus:ring-[#00B2B2]" }}
                    {% if form.email.errors %}<div class="text-red-500 text-sm">{{ form.email.errors }}</div>{% endif %}
                </div>
                <div class="mb-4">
                    <label class="block text-sm font-medium text-[#7C7C7C]">{{ form.password1.label_tag }}</label>
                    {{ form.password1|add_class:"mt-1 block w-full px-4 py-2 border border-[#D7CABD] rounded-md text-[#7C7C7C] focus:outline-none focus:ring-1 focus:ring-[#00B2B2]" }}
                    {% if form.password1.errors %}<div class="text-red-500 text-sm">{{ form.password1.errors }}</div>{% endif %}
                </div>
                <div class="mb-4">
                    <label class="block text-sm font-medium text-[#7C7C7C]">{{ form.password2.label_tag }}</label>
                    {{ form.password2|add_class:"mt-1 block w-full px-4 py-2 border border-[#D7CABD] rounded-md text-[#7C7C7C] focus:outline-none focus:ring-1 focus:ring-[#00B2B2]" }}
                    {% if form.password2.errors %}<div class="text-red-500 text-sm">{{ form.password2.errors }}</div>{% endif %}
                </div>
                <button type="submit"
                        class="w-full bg-[#00B2B2] text-white py-2 px-4 rounded-md hover:bg-[#00A1A1] focus:outline-none focus:ring focus:ring-[#00B2B2]">
                    Register
                </button>
            </form>
            <p class="mt-4 text-center text-[#7C7C7C]">
                Already have an account?
                <a href="{% url 'login' %}" class="text-[#00B2B2] hover:underline">Login here</a>
            </p>
        </div>
        {% if messages %}
            <script>
            {% for message in messages %}
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: '{{ message.tags }}',
                    title: '{{ message }}',
                    showConfirmButton: false,
                    timer: 3000,
                    background: '#F5F5F5',
                    iconColor: '{% if "success" in message.tags %}#28A745{% elif "error" in message.tags %}#DC3545{% else %}#FFC107{% endif %}',
                    showClass: {
                        popup: 'animate__animated animate__fadeInRight'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutRight'
                    }
                });
            {% endfor %}
            </script>
        {% endif %}
    </body>
</html>
