{% extends "index.html" %}
{% load static %}
{% block content %}
    {% load widget_tweaks %}
    <div class="p-6">
        <div class="bg-white p-8 rounded-lg shadow-sm border-2 border-[#00B2B2] grid grid-cols-2 sm:grid-cols-1 md:grid-cols-2 items-center">
            <div class="flex col-span-2 space-x-3 justify-end items-center w-full">
                <div class="inline-flex items-center px-4 py-1.5 bg-primaryLogo w-24 text-white rounded-lg hover:bg-darkerPrimary space-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                        <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M13.2603 3.60022 5.05034 12.2902c-.31.33-.61.98-.67 1.43l-.37 3.24c-.13 1.17.71 1.97 1.87 1.77l3.22-.55c.45-.08 1.07996-.41 1.38996-.75l8.21-8.68998c1.42-1.5 2.06-3.21-.15-5.3-2.2-2.07-3.87-1.34-5.29.16Z" />
                        <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M11.8896 5.0498c.43 2.76 2.67 4.87 5.45 5.15M3 22h18" />
                    </svg>
                    <span>Edit</span>
                </div>
                {% comment %} <div class="inline-flex items-center px-4 py-1.5 bg-dangerRed text-white rounded-lg hover:bg-darkerPrimary space-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                        <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M21 5.98047c-3.33-.33-6.68-.5-10.02-.5-1.98 0-3.96.1-5.94.3l-2.04.2M8.5 4.97l.22-1.31C8.88 2.71 9 2 10.69 2h2.62c1.69 0 1.82.75 1.97 1.67l.22 1.3m3.3504 4.16965-.65 10.06995c-.11 1.57-.2 2.79-2.99 2.79H8.79039c-2.79 0-2.88-1.22-2.99-2.79l-.65-10.06995M10.3301 16.5h3.33M9.5 12.5h5" />
                    </svg>
                    <span>Delete</span>
                </div> {% endcomment %}
            </div>
            <div class="relative h-72 w-72 border-2 border-primaryLogo overflow-hidden flex items-center justify-center mx-auto rounded-full ">
                <img src="{{ user.profile_image.url }}"
                     alt="{{ user.get_full_name }}"
                     class="object-fill absolute scale-110"
                     width="full"
                     height="full" />
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-1 md:grid-cols-2 my-6">
                <div class="text-xl font-semibold text-gray-800 space-y-6">
                    <p>Identification Number</p>
                    <p>Username</p>
                    <p>Full Name</p>
                    <p>Email Address</p>
                    <p>Address</p>
                    <p>Contact Number</p>
                    <p>Role</p>
                </div>
                <div class="text-lg space-y-6">
                    <p>{{ user.id }}</p>
                    <p>{{ user.username }}</p>
                    <p>{{ user.get_full_name }}</p>
                    <p>{{ user.email }}</p>
                    <p>{{ user.address }}</p>
                    <p>{{ user.contact }}</p>
                    <p>{{ user.role|capfirst }}</p>
                    {% comment %} <form method="post" class="flex items-center justify-center space-x-2 py-2">
                        {% csrf_token %}
                        <select name="role" class="border px-2 py-1 rounded-sm">
                            <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
                            <option value="staff" {% if user.role == 'staff' %}selected{% endif %}>Staff</option>
                            <option value="doctor" {% if user.role == 'doctor' %}selected{% endif %}>Doctor</option>
                        </select>
                        <button type="submit" name="action" value="approve">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="26"
                                                 height="26"
                                                 viewBox="0 0 20 20"
                                                 class="cursor-pointer">
                                                <g fill="none" stroke="#00b2b2" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                                <path d="M9.999996 18.3320235c4.582029 0 8.3320275-3.7499985 8.3320275-8.3320275 0-4.58202983-3.7499985-8.33202833-8.3320275-8.33202833-4.58202983 0-8.33202833 3.7499985-8.33202833 8.33202833 0 4.582029 3.7499985 8.3320275 8.33202833 8.3320275Zm0 0" />
                                                <path d="m6.45702825 9.999996 2.35937489 2.35937406 4.72655978-4.71874812" />
                                                </g>
                                            </svg>
                        </button>
                        <button type="submit" name="action" value="deny">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="cursor-pointer">
  <path fill="none" stroke="#b20003" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9.999996 18.3320235c4.582029 0 8.3320275-3.7499985 8.3320275-8.3320275 0-4.58202983-3.7499985-8.33202833-8.3320275-8.33202833-4.58202983 0-8.33202833 3.7499985-8.33202833 8.33202833 0 4.582029 3.7499985 8.3320275 8.33202833 8.3320275Zm-2.35937406-5.97265344 4.71874812-4.71874812m0 4.71874812L7.64062194 7.64062194" />
</svg>
                        </button>
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                    </form> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
