{% extends "index.html" %}
{% load static %}
{% block content %}
    {% load widget_tweaks %}
    <div class="p-6">
        {% comment %} Header Section {% endcomment %}
        <div class="flex justify-between items-center mb-6 ">
            <div class="space-x-1 flex items-center">
                <a href="{% url 'list' %}">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="24px"
                         fill="none"
                         height="24px"
                         viewBox="0 0 20 20">
                        <path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"  stroke-miterlimit="10"  d="M 30 39.84375 L 16.959375 26.803125 C 15.421875 25.25625 15.421875 22.74375 16.959375 21.196875 L 30 8.15625 " transform="matrix(0.416667,0,0,0.416667,0,0)" />
                    </svg>
                </a>
                <p class="text-gray-700 text-2xl font-medium">{{ total_user }} Total Pending Users</p>
            </div>
            <div class="flex items-center space-x-4">
                {% comment %} Search Bar {% endcomment %}
                <form method="get">
                    <input type="text"
                           name="search"
                           value="{{ search_query }}"
                           placeholder="Search..."
                           class="px-4 py-1 border border-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-primaryLogo" />
                    <button type="submit" class="hidden"></button>
                </form>
            </div>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-sm border-2 border-[#00B2B2]">
            <p class="text-3xl font-bold text-center mb-8">Approve Users</p>
            {% if users %}
                <table class="min-w-full table-auto">
                    <thead>
                        <tr class="border-b-2 border-primaryLogo text-center">
                            <th class="pb-2">User ID</th>
                            <th class="pb-2">Username</th>
                            <th class="pb-2">Full Name</th>
                            <th class="pb-2">Email</th>
                            <th class="pb-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr class="border-b text-center">
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <form id="approve-form-{{ user.id }}"
                                          action="{% url 'approve' %}"
                                          method="post"
                                          class="flex items-center justify-center space-x-2 py-2">
                                        {% csrf_token %}
                                        <select name="role" class="border px-2 py-1 rounded-sm">
                                            <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
                                            <option value="staff" {% if user.role == 'staff' %}selected{% endif %}>Staff</option>
                                            <option value="doctor" {% if user.role == 'doctor' %}selected{% endif %}>Doctor</option>
                                        </select>
                                        {% comment %} approve {% endcomment %}
                                        <button type="button"
                                                onclick="confirmAction(event,'{{ user.id }}', '{{ user.username }}', 'approve')">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="26"
                                                 height="26"
                                                 viewBox="0 0 20 20"
                                                 class="cursor-pointer">
                                                <g fill="none" stroke="#00b2b2" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                                <path d="M9.999996 18.3320235c4.582029 0 8.3320275-3.7499985 8.3320275-8.3320275 0-4.58202983-3.7499985-8.33202833-8.3320275-8.33202833-4.58202983 0-8.33202833 3.7499985-8.33202833 8.33202833 0 4.582029 3.7499985 8.3320275 8.33202833 8.3320275Zm0 0" />
                                                <path d="m6.45702825 9.999996 2.35937489 2.35937406 4.72655978-4.71874812" />
                                                </g>
                                            </svg>
                                        </button>
                                        {% comment %} deny {% endcomment %}
                                        <button type="button"
                                                onclick="confirmAction(event,'{{ user.id }}', '{{ user.username }}', 'deny')">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="26"
                                                 height="26"
                                                 viewBox="0 0 20 20"
                                                 class="cursor-pointer">
                                                <path fill="none" stroke="#b20003" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9.999996 18.3320235c4.582029 0 8.3320275-3.7499985 8.3320275-8.3320275 0-4.58202983-3.7499985-8.33202833-8.3320275-8.33202833-4.58202983 0-8.33202833 3.7499985-8.33202833 8.33202833 0 4.582029 3.7499985 8.3320275 8.33202833 8.3320275Zm-2.35937406-5.97265344 4.71874812-4.71874812m0 4.71874812L7.64062194 7.64062194" />
                                            </svg>
                                        </button>
                                        <input type="hidden" name="action" id="action-{{ user.id }}">
                                        <input type="hidden" name="user_id" value="{{ user.id }}">
                                    </form>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="text-center text-gray-500 py-4">No registered users found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% comment %} Pagination {% endcomment %}
                {% if user.has_other_pages %}
                    <div class="flex justify-center mt-8">
                        <div class="flex items-center space-x-2">
                            {% if user.has_previous %}
                                <a href="?page={{ user.previous_page_number }}&search={{ search_query }}">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="20"
                                         height="20"
                                         viewBox="0 0 20 20"
                                         class="cursor-pointer">
                                        <g fill="none" stroke="#7c7c7c" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                        <path d="M7.499997 18.3320235h4.999998c4.16796667 0 5.8320285-1.66406183 5.8320285-5.8320285V7.499997c0-4.1679675-1.66406183-5.83202933-5.8320285-5.83202933H7.499997c-4.1679675 0-5.83202933 1.66406183-5.83202933 5.83202933v4.999998c0 4.16796667 1.66406183 5.8320285 5.83202933 5.8320285Zm0 0" />
                                        <path d="M11.05077641 12.94140066 8.11718425 9.999996l2.93359216-2.94140466" />
                                        </g>
                                    </svg>
                                </a>
                            {% endif %}
                            <p class="px-3 py-2">Page {{ user.number }} of {{ user.paginator.num_pages }}</p>
                            {% if user.has_next %}
                                <a href="?page={{ user.next_page_number }}&search={{ search_query }}">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="20"
                                         height="20"
                                         viewBox="0 0 20 20"
                                         class="cursor-pointer">
                                        <g fill="none" stroke="#7c7c7c" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                        <path d="M7.499997 18.3320235h4.999998c4.16796667 0 5.8320285-1.66406183 5.8320285-5.8320285V7.499997c0-4.1679675-1.66406183-5.83202933-5.8320285-5.83202933H7.499997c-4.1679675 0-5.83202933 1.66406183-5.83202933 5.83202933v4.999998c0 4.16796667 1.66406183 5.8320285 5.83202933 5.8320285Zm0 0" />
                                        <path d="m8.94921475 12.94140066 2.933593-2.94140466-2.933593-2.94140466" />
                                        </g>
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <p class="text-center text-gray-500 py-4">No registered users found.</p>
            {% endif %}
        </div>
    </div>
    <script>
        function confirmAction(event, userId, userName, actionType) {
            event.preventDefault();
            const actionText = actionType === 'approve' ? 'approve' : 'deny';
            const confirmText = actionType === 'approve' ? 'Approve' : 'Deny';
            const buttonColor = actionType === 'approve' ? '#00b2b2' : '#b20003';
    
            Swal.fire({
                title: 'Are you sure?',
                text: `This will ${actionText} the user: ${userName}.`,
                showCancelButton: true,
                confirmButtonText: confirmText,
                cancelButtonText: 'Cancel',
                customClass: {
                    confirmButton: actionType === 'approve'
                        ? 'bg-primaryLogo text-white hover:bg-darkerPrimary py-2 w-32'
                        : 'bg-dangerRed text-white hover:bg-darkerDangerRed py-2 w-32',
                    cancelButton: 'bg-[#444444] text-white hover:bg-gray-400 py-2 w-32',
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById(`action-${userId}`).value = actionType;
                    document.getElementById(`approve-form-${userId}`).submit();
                }
            });
        }
    </script>
{% endblock content %}
