{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="p-6">
        <div class="flex items-center mb-6 space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="back-icon"
                 viewBox="0 0 20 20"
                 onclick="history.back()"
                 fill="none">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17l-7-7 7-7" />
            </svg>
            <p class="text-gray-700 text-2xl font-medium">
                {% if is_editing or is_editing_all %}
                    Edit
                {% else %}
                    Add
                {% endif %}
                Appointment / Appointment Details
            </p>
        </div>
        <div class="card">
            <form method="post"
                  enctype="multipart/form-data"
                  class="grid grid-cols-4 lg:grid-cols-5 md:grid-cols-3 lg:gap-6 gap-4">
                {% csrf_token %}
                {{ wizard.management_form }}
                <div>
                    <label class="form-label">{{ wizard.form.patient.label_tag }}*</label>
                    {% comment %} <select name="patient" class="form-input">
                        <option value="">Select a Patient</option>
                        {% for patient in patients %}<option value="{{ patient.id }}">{{ patient.name }}</option>{% endfor %}
                    </select> {% endcomment %}
                    {{ wizard.form.patient|add_class:"form-input" }}
                    {% if wizard.form.patient.errors %}<div class="form-error">{{ wizard.form.patient.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.date.label_tag }}*</label>
                    {{ wizard.form.date|attr:"type:date"|add_class:"form-input" }}
                    {% if wizard.form.date.errors %}<div class="form-error">{{ wizard.form.date.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.time.label_tag }}*</label>
                    {{ wizard.form.time|attr:"type:time"|add_class:"form-input" }}
                    {% if wizard.form.time.errors %}<div class="form-error">{{ wizard.form.time.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.status.label_tag }}*</label>
                    {{ wizard.form.status|add_class:"form-input" }}
                    {% if wizard.form.status.errors %}<div class="form-error">{{ wizard.form.status.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.follow_up_days.label_tag }}</label>
                    {{ wizard.form.follow_up_days|add_class:"form-input" }}
                    {% if wizard.form.follow_up_days.errors %}
                        <div class="form-error">{{ wizard.form.follow_up_days.errors }}</div>
                    {% endif %}
                </div>
                <div class="lg:col-span-5 md:col-span-3">
                    <label class="form-label">{{ wizard.form.description.label_tag }}</label>
                    {{ wizard.form.description|attr:"rows:3"|add_class:"form-input" }}
                    {% if wizard.form.description.errors %}<div class="form-error">{{ wizard.form.description.errors }}</div>{% endif %}
                </div>
                <div class="flex space-x-4 justify-end col-span-full">
                    <div onclick="history.back()" class="btn-secondary">Cancel</div>
                    <button type="submit" class="btn-primary">
                        {% if is_editing %}
                            Save Changes
                        {% else %}
                            Next
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
