{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="p-6">
        <div class="flex items-center mb-6 space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="back-icon"
                 viewBox="0 0 20 20"
                 onclick="history.back()"
                 fill="none">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17l-7-7 7-7" />
            </svg>
            <p class="text-gray-700 text-2xl font-medium">
                {% if is_editing or is_editing_all %}
                    Edit
                {% else %}
                    Add
                {% endif %}
                Appointment / Treatment
            </p>
        </div>
        <div class="card">
            <form method="post"
                  enctype="multipart/form-data"
                  class="grid grid-cols-4 lg:grid-cols-4 md:grid-cols-3 lg:gap-6 gap-4">
                {% csrf_token %}
                {{ wizard.management_form }}
                <div>
                    <label class="form-label">{{ wizard.form.treatment_type.label_tag }}</label>
                    {{ wizard.form.treatment_type|add_class:"form-input" }}
                    {% if wizard.form.treatment_type.errors %}
                        <div class="form-error">{{ wizard.form.treatment_type.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.treatment_cost.label_tag }}</label>
                    {{ wizard.form.treatment_cost|add_class:"form-input" }}
                    {% if wizard.form.treatment_cost.errors %}
                        <div class="form-error">{{ wizard.form.treatment_cost.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-start-1 flex items-center">
                    <label class="form-label w-36">{{ wizard.form.x_ray.label_tag }}</label>
                    {{ wizard.form.x_ray |attr:"id:x_ray" }}
                    {% if wizard.form.x_ray.errors %}<div class="form-error">{{ wizard.form.x_ray.errors }}</div>{% endif %}
                </div>
                <div class="flex items-center justify-between">
                    <label class=" font-medium text-secondaryLogo">{{ wizard.form.x_ray_cost.label_tag }}</label>
                    <input type="text"
                           id="x_ray_cost"
                           name="{{ wizard.form.x_ray_cost.html_name }}"
                           class="w-40 px-3 py-1.5 form-input"
                           value="{{ wizard.form.x_ray_cost.value|default_if_none:'' }}">
                    {% if wizard.form.x_ray_cost.errors %}<div class="form-error">{{ wizard.form.x_ray_cost.errors }}</div>{% endif %}
                </div>
                <div class="flex items-center col-start-1">
                    <label class="form-label w-36">{{ wizard.form.lab.label_tag }}</label>
                    {{ wizard.form.lab |attr:"id:lab" }}
                    {% if wizard.form.lab.errors %}<div class="form-error">{{ wizard.form.lab.errors }}</div>{% endif %}
                </div>
                <div class="flex items-center justify-between">
                    <label class="font-medium text-secondaryLogo">Lab sent to:</label>
                    <select id="lab_sent"
                            name="{{ wizard.form.lab_sent.html_name }}"
                            class="w-40 px-3 py-1.5 form-input">
                        {% for value, label in wizard.form.lab_sent.field.choices %}
                            <option value="{{ value }}"
                                    {% if wizard.form.lab_sent.value == value %}selected{% endif %}>
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if wizard.form.lab_sent.errors %}<div class="form-error">{{ wizard.form.lab_sent.errors }}</div>{% endif %}
                </div>
                <div class="flex items-center justify-between">
                    <label class="font-medium text-secondaryLogo">{{ wizard.form.lab_order_date.label_tag }}</label>
                    <input type="date"
                           id="lab_order_date"
                           name="{{ wizard.form.lab_order_date.html_name }}"
                           value="{{ wizard.form.lab_order_date.value|date:'Y-m-d'|default_if_none:'' }}"
                           class="w-40 px-3 py-1.5 form-input">
                    {% if wizard.form.lab_order_date.errors %}
                        <div class="form-error">{{ wizard.form.lab_order_date.errors }}</div>
                    {% endif %}
                </div>
                <div class="flex items-center justify-between">
                    <label class="font-medium text-secondaryLogo">{{ wizard.form.lab_cost.label_tag }}</label>
                    <input type="text"
                           id="lab_cost"
                           name="{{ wizard.form.lab_cost.html_name }}"
                           class="w-54 px-3 py-1.5 form-input"
                           value="{{ wizard.form.lab_cost.value|default_if_none:'' }}">
                    {% if wizard.form.lab_cost.errors %}<div class="form-error">{{ wizard.form.lab_cost.errors }}</div>{% endif %}
                </div>
                <div class="flex space-x-4 justify-end col-span-full">
                    {% if is_editing %}
                        <div onclick="history.back()" class="btn-secondary">Cancel</div>
                    {% else %}
                        <div onclick="history.back()" class="btn-secondary">Previous</div>
                    {% endif %}
                    <button type="submit" class="btn-primary">
                        {% if is_editing %}
                            Save Changes
                        {% else %}
                            Next
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function toggleField(checkboxId, fieldId) {
            let checkbox = document.getElementById(checkboxId);
            let field = document.getElementById(fieldId);
    
            // Function to handle field state
            function updateFieldState() {
                field.disabled = !checkbox.checked;
                
                // If field becomes disabled, store its current value as a data attribute
                if (field.disabled) {
                    field.setAttribute('data-stored-value', field.value);
                    field.value = '';
                } else {
                    const storedValue = field.getAttribute('data-stored-value');
                    if (storedValue) {
                        field.value = storedValue;
                    }
                }
            }
            
            updateFieldState();
            checkbox.addEventListener("change", updateFieldState);
        }
    
        document.addEventListener("DOMContentLoaded", function () {
            toggleField("x_ray", "x_ray_cost");
            toggleField("lab", "lab_sent");
            toggleField("lab", "lab_order_date");
            toggleField("lab", "lab_cost");
        });
    </script>
{% endblock content %}
