{% extends "index.html" %}
{% load static %}
{% block content %}
    <div class="p-6">
        {% comment %} Header Section {% endcomment %}
        <div class="flex justify-between items-center mb-4 ">
            <div class="space-x-1 flex items-center">
                <div onclick="history.back()">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="24px"
                         fill="none"
                         height="24px"
                         viewBox="0 0 20 20">
                        <path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"  stroke-miterlimit="10"  d="M 30 39.84375 L 16.959375 26.803125 C 15.421875 25.25625 15.421875 22.74375 16.959375 21.196875 L 30 8.15625 " transform="matrix(0.416667,0,0,0.416667,0,0)" />
                    </svg>
                </div>
                <p class="text-2xl font-semibold">{{ doctor.get_full_name }}'s Profile</p>
            </div>
            <div class="space-x-3 flex items-center">
                <a href="{% url 'core:edit_doctor_profile' doctor.id %}"
                   class="inline-flex items-center px-3 py-1.5 bg-primaryLogo text-white rounded-lg hover:bg-darkerPrimary space-x-2 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="20"
                         height="20"
                         viewBox="0 0 20 20">
                        <g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
                        <path d="m11.05077641 2.9999988-6.84374726 7.2421846c-.25781156.2734374-.5078123.81640551-.5585931 1.1914062l-.30468739 2.69921725c-.10937495.9765621.5898431 1.64062434 1.55468688 1.4765619l2.68359226-.4609373c.37500068-.06640665.9023438-.33984404 1.1601562-.62499976l6.83984143-7.23827794c1.18359286-1.2499995 1.71874932-2.6757806-.12500078-4.4179674-1.8320301-1.7265618-3.22265454-1.11718705-4.40624824.13281245Zm0 0" />
                        <path d="M9.90624604 4.20702915c.35937485 2.30078075 2.2265616 4.05859254 4.54296735 4.29296745M2.499999 18.3320235h14.999994" />
                        </g>
                    </svg>
                    <p>Edit Profile</p>
                </a>
                <form id="delete-form-{{ doctor.id }}" method="post">
                    {% comment %} action="{% url 'core:doctor' %}"> {% endcomment %}
                    {% csrf_token %}
                    <input type="hidden" name="delete_user_id" value="{{ doctor.id }}">
                </form>
                <div class="inline-flex items-center px-4 py-1.5 bg-dangerRed text-white rounded-lg hover:bg-darkerDangerRed space-x-2 cursor-pointer"
                     onclick="confirmDelete('{{ doctor.id }}', '{{ doctor.username }}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                        <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.249995" d="M17.5 4.984375c-2.773438-.277344-5.566406-.417969-8.351562-.417969-1.648438 0-3.296876.085938-4.949219.25L2.5 4.984375m4.582031-.84375.183594-1.089844C7.398438 2.257812 7.5 1.667969 8.910156 1.667969h2.179688c1.410156 0 1.519531.625 1.644531 1.390625l.183594 1.082031m2.789062 3.476563-.539062 8.390624c-.09375 1.308594-.167969 2.324219-2.492188 2.324219H7.324219c-2.324219 0-2.398438-1.015625-2.492188-2.324219l-.539062-8.390624M8.609375 13.75h2.773437m-3.464843-3.332031h4.164062" />
                    </svg>
                    <span>Delete Profile</span>
                </div>
            </div>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-sm border-2 border-[#00B2B2] grid grid-cols-2 sm:grid-cols-1 md:grid-cols-2 items-center">
            <div class="grid grid-cols-2 sm:grid-cols-1 md:grid-cols-2">
                <div class="text-xl font-semibold text-gray-800 space-y-3 mx-auto ">
                    <p>Identification Number</p>
                    <p>Username</p>
                    <p>Full Name</p>
                    <p>Email Address</p>
                    <p>Address</p>
                    <p>Contact Number</p>
                    <p>Role</p>
                    <p>Specialization</p>
                    <p>Qualification</p>
                    <p>NMC Number</p>
                </div>
                <div class="text-lg space-y-3 mx-auto ">
                    <p>{{ doctor.id }}</p>
                    <p>{{ doctor.username }}</p>
                    <p>{{ doctor.get_full_name }}</p>
                    <p>{{ doctor.email }}</p>
                    <p>{{ doctor.address }}</p>
                    <p>{{ doctor.contact }}</p>
                    <p>{{ doctor.role|capfirst }}</p>
                    <p>{{ doctor.specialization }}</p>
                    <p>{{ doctor.qualification }}</p>
                    <p>{{ doctor.nmc_no }}</p>
                </div>
            </div>
            <div class="relative h-72 w-72 border-2 border-primaryLogo overflow-hidden flex items-center justify-center mx-auto rounded-full ">
                <img src="{{ doctor.profile_image.url }}"
                     alt="{{ doctor.get_full_name }}"
                     class="object-fill absolute scale-110"
                     width="full"
                     height="full" />
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
            <div class="bg-white rounded-lg shadow-sm p-6 my-6 border-2 border-primaryLogo ">
                <div>
                    <h3 class="text-xl font-semibold">Last Appointments</h3>
                </div>
                {% if appointments %}
                    <table class="min-w-full table-auto my-3">
                        <thead>
                            <tr class="border-b-2 border-primaryLogo text-center pb-4">
                                <th class="pb-2">P. Name</th>
                                <th class="pb-2">Date</th>
                                <th class="pb-2">Time</th>
                                <th class="pb-2">Description</th>
                                <th class="pb-2">Status</th>
                                <th class="pb-2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appointment in appointments %}
                                <tr class="border-b text-center py-4">
                                    <td class="py-2 text-nowrap overflow-hidden text-ellipsis max-w-4">{{ appointment.patient.name }}</td>
                                    <td class="py-2 text-nowrap">{{ appointment.date }}</td>
                                    <td class="py-2 text-nowrap">{{ appointment.time }}</td>
                                    <td class="py-2 text-nowrap overflow-hidden text-ellipsis max-w-4">{{ appointment.description }}</td>
                                    <td class="py-2 text-nowrap {% if appointment.status == 'Completed' %}text-green-700{% elif appointment.status == 'Pending' %}text-yellow-700{% else %}text-red-700{% endif %}">
                                        {{ appointment.status }}
                                    </td>
                                    <td>
                                        <div class="flex items-center justify-center space-x-1">
                                            {% comment %} edit {% endcomment %}
                                            <a href="{% url 'core:edit_appointment' appointment.id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="20"
                                                     height="20"
                                                     viewBox="0 0 20 20"
                                                     class="cursor-pointer">
                                                    <g fill="none" stroke="#00B2B2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
                                                    <path d="m11.05077641 2.9999988-6.84374726 7.2421846c-.25781156.2734374-.5078123.81640551-.5585931 1.1914062l-.30468739 2.69921725c-.10937495.9765621.5898431 1.64062434 1.55468688 1.4765619l2.68359226-.4609373c.37500068-.06640665.9023438-.33984404 1.1601562-.62499976l6.83984143-7.23827794c1.18359286-1.2499995 1.71874932-2.6757806-.12500078-4.4179674-1.8320301-1.7265618-3.22265454-1.11718705-4.40624824.13281245Zm0 0" />
                                                    <path d="M9.90624604 4.20702915c.35937485 2.30078075 2.2265616 4.05859254 4.54296735 4.29296745M2.499999 18.3320235h14.999994" />
                                                    </g>
                                                </svg>
                                            </a>
                                            {% comment %} view {% endcomment %}
                                            <a href="{% url 'core:view_appointment' appointment.id %}">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="20"
                                                     height="20"
                                                     viewBox="0 0 20 20"
                                                     class="cursor-pointer">
                                                    <path fill="none" stroke="#7c7c7c" stroke-width="1.5" d="M9.999996 17.499993c-4.1679675 0-9.1679655-4.1679675-9.1679655-7.499997s4.999998-7.499997 9.1679655-7.499997c4.16796667 0 9.16796467 4.1679675 9.16796467 7.499997s-4.999998 7.499997-9.16796467 7.499997Zm0-11.6679645c-2.30078075 0-4.1679675 1.86718675-4.1679675 4.1679675 0 2.30077991 1.86718675 4.16796667 4.1679675 4.16796667 2.30077991 0 4.16796667-1.86718676 4.16796667-4.16796667 0-2.30078075-1.86718676-4.1679675-4.16796667-4.1679675Zm0 0" />
                                                </svg>
                                            </a>
                                            {% comment %} delete {% endcomment %}
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="20"
                                                 height="20"
                                                 viewBox="0 0 20 20"
                                                 class="cursor-pointer"
                                                 onclick="confirmDelete('{{ appointment.id }}', '{{ appointment.patient.name }}','{{ appointment.date }}', '{{ appointment.time }}')">
                                                <path fill="none" stroke="#b20003" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.5 4.984375c-2.773438-.277344-5.566406-.417969-8.351562-.417969-1.648438 0-3.296876.085938-4.949219.25L2.5 4.984375m4.582031-.84375.183594-1.089844C7.398438 2.257812 7.5 1.667969 8.910156 1.667969h2.179688c1.410156 0 1.519531.625 1.644531 1.390625l.183594 1.082031m2.789062 3.476563-.539062 8.390624c-.09375 1.308594-.167969 2.324219-2.492188 2.324219H7.324219c-2.324219 0-2.398438-1.015625-2.492188-2.324219l-.539062-8.390624M8.609375 13.75h2.773437m-3.464843-3.332031h4.164062" />
                                            </svg>
                                        </div>
                                        <form id="delete-form-{{ appointment.id }}"
                                              method="post"
                                              class="hidden"
                                              action="{% url 'core:appointment' %}">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   name="delete_appointment_id"
                                                   value="{{ appointment.id }}">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-center text-gray-500 py-4">No registered appointments found.</p>
                {% endif %}
            </div>
            <div class="bg-white rounded-lg shadow-sm p-6 my-6 border-2 border-primaryLogo h-full">
                <div class="text-center">
                    <h3 class="text-xl font-semibold">Patient Summary</h3>
                </div>
            </div>
        </div>
    </div>
    <script>
        function confirmDelete(userId, userName) {
            Swal.fire({
                title: 'Are you sure?',
                text: "This action will permanently delete the user "+ userName +".",
                showCancelButton: true,
                confirmButtonText: 'Yes, Delete',
                cancelButtonText: 'Cancel',
                customClass: {
                    confirmButton: 'bg-dangerRed text-white hover:bg-darkerDangerRed py-2 w-32',
                    cancelButton: 'bg-[#444444] text-white hover:bg-gray-400 py-2 w-32',
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('delete-form-' + userId).submit();
                }
            });
        }
    </script>
{% endblock content %}
