{% extends "index.html" %}
{% load static %}
{% block content %}
    {% load widget_tweaks %}
    <div class="p-6">
        <div class="flex items-center mb-6 space-x-2">
            <a href="{% url 'core:patient' %}">
                <svg xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="24px"
                     fill="none"
                     height="24px"
                     viewBox="0 0 20 20"
                     class="cursor-pointer">
                    <path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"  stroke-miterlimit="10"  d="M 30 39.84375 L 16.959375 26.803125 C 15.421875 25.25625 15.421875 22.74375 16.959375 21.196875 L 30 8.15625 " transform="matrix(0.416667,0,0,0.416667,0,0)" />
                </svg>
            </a>
            <p class="text-gray-700 text-2xl font-medium">Add Patient</p>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-md w-full border-2 border-primaryLogo">
            {% comment %} <p class="lg:text-4xl md:text-3xl text-2xl font-bold text-center mb-2 text-[#1d2a2a]">Add Patient</p> {% endcomment %}
            {% comment %} general information {% endcomment %}
            <p class="lg:text-2xl md:text-xl text-xl font-semibold text-center mb-4 text-gray-800">General Information</p>
            <form method="post"
                  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:gap-x-8 gap-6">
                {% csrf_token %}
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.name.label_tag }}</label>
                    {{ form.name|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.name.errors %}<div class="text-dangerRed text-sm">{{ form.name.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.address.label_tag }}</label>
                    {{ form.address|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.address.errors %}<div class="text-dangerRed text-sm">{{ form.address.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.contact.label_tag }}</label>
                    {{ form.contact|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.contact.errors %}<div class="text-dangerRed text-sm">{{ form.contact.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.email.label_tag }}</label>
                    {{ form.email|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.email.errors %}<div class="text-dangerRed text-sm">{{ form.email.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.dob.label_tag }}</label>
                    {{ form.dob|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.dob.errors %}<div class="text-dangerRed text-sm">{{ form.dob.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.gender.label_tag }}</label>
                    {{ form.gender|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.gender.errors %}<div class="text-dangerRed text-sm">{{ form.gender.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.blood_group.label_tag }}</label>
                    {{ form.blood_group|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.blood_group.errors %}<div class="text-dangerRed text-sm">{{ form.blood_group.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.age.label_tag }}</label>
                    {{ form.age|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.age.errors %}<div class="text-dangerRed text-sm">{{ form.age.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.telephone.label_tag }}</label>
                    {{ form.telephone|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.telephone.errors %}<div class="text-dangerRed text-sm">{{ form.telephone.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.occupation.label_tag }}</label>
                    {{ form.occupation|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.occupation.errors %}<div class="text-dangerRed text-sm">{{ form.occupation.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.nationality.label_tag }}</label>
                    {{ form.nationality|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.nationality.errors %}<div class="text-dangerRed text-sm">{{ form.nationality.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.marital_status.label_tag }}</label>
                    {{ form.marital_status|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.marital_status.errors %}
                        <div class="text-dangerRed text-sm">{{ form.marital_status.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label class="block text-sm font-medium text-secondaryLogo">{{ form.profile_image.label_tag }}</label>
                    {{ form.profile_image|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md text-secondaryLogo focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                    {% if form.profile_image.errors %}<div class="text-dangerRed text-sm">{{ form.profile_image.errors }}</div>{% endif %}
                </div>
                <div class="col-start-1 col-span-3 flex justify-end">
                    <button type="submit"
                            class="col-span-2 w-full text-xl bg-primaryLogo text-white py-2 rounded-md hover:bg-[#00A1A1] focus:outline-none focus:ring focus:ring-primaryLogo">
                        Add Patient
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
