{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="p-6">
        <div class="flex items-center mb-6 space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="back-icon"
                 viewBox="0 0 20 20"
                 onclick="history.back()"
                 fill="none">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17l-7-7 7-7" />
            </svg>
            <p class="text-gray-700 text-2xl font-medium">
                {% if is_editing or is_editing_all %}
                    Edit
                {% else %}
                    Add
                {% endif %}
                Patient / General Information
            </p>
        </div>
        <div class="card">
            <form method="post"
                  enctype="multipart/form-data"
                  class="grid grid-cols-3 lg:grid-cols-4 md:grid-cols-3 lg:gap-4 gap-4">
                {% csrf_token %}
                {{ wizard.management_form }}
                <div>
                    <label class="form-label">{{ wizard.form.name.label_tag }}*</label>
                    {{ wizard.form.name|add_class:"form-input" }}
                    {% if wizard.form.name.errors %}<div class="form-error">{{ wizard.form.name.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.contact.label_tag }}*</label>
                    {{ wizard.form.contact|add_class:"form-input" }}
                    {% if wizard.form.contact.errors %}<div class="form-error">{{ wizard.form.contact.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.address.label_tag }}</label>
                    {{ wizard.form.address|add_class:"form-input" }}
                    {% if wizard.form.address.errors %}<div class="form-error">{{ wizard.form.address.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.blood_group.label_tag }}*</label>
                    {{ wizard.form.blood_group|add_class:"form-input" }}
                    {% if wizard.form.blood_group.errors %}<div class="form-error">{{ wizard.form.blood_group.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.gender.label_tag }}</label>
                    {{ wizard.form.gender|add_class:"form-input" }}
                    {% if wizard.form.gender.errors %}<div class="form-error">{{ wizard.form.gender.errors }}</div>{% endif %}
                </div>
                {% comment %} <div>
                    <label class="form-label">{{ wizard.form.dob.label_tag }}</label>
                    {{ wizard.form.dob|attr:"type:date"|add_class:"form-input" }}
                    {% if wizard.form.dob.errors %}<div class="form-error">{{ wizard.form.dob.errors }}</div>{% endif %}
                </div> {% endcomment %}
                <div>
                    <label class="form-label">{{ wizard.form.dob.label_tag }}*</label>
                    {{ wizard.form.dob|attr:"type:date"|add_class:"form-input" }}
                    {% if wizard.form.dob.errors %}
                        <div class="form-error">{{ wizard.form.dob.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.email.label_tag }}</label>
                    {{ wizard.form.email|add_class:"form-input" }}
                    {% if wizard.form.email.errors %}<div class="form-error">{{ wizard.form.email.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.telephone.label_tag }}</label>
                    {{ wizard.form.telephone|add_class:"form-input" }}
                    {% if wizard.form.telephone.errors %}<div class="form-error">{{ wizard.form.telephone.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.occupation.label_tag }}</label>
                    {{ wizard.form.occupation|add_class:"form-input" }}
                    {% if wizard.form.occupation.errors %}<div class="form-error">{{ wizard.form.occupation.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.nationality.label_tag }}</label>
                    {{ wizard.form.nationality|add_class:"form-input" }}
                    {% if wizard.form.nationality.errors %}<div class="form-error">{{ wizard.form.nationality.errors }}</div>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.marital_status.label_tag }}</label>
                    {{ wizard.form.marital_status|add_class:"form-input" }}
                    {% if wizard.form.marital_status.errors %}
                        <div class="form-error">{{ wizard.form.marital_status.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label class="form-label">{{ wizard.form.reffered_by.label_tag }}</label>
                    {{ wizard.form.reffered_by|add_class:"form-input" }}
                    {% if wizard.form.reffered_by.errors %}<div class="form-error">{{ wizard.form.reffered_by.errors }}</div>{% endif %}
                </div>
                <div class="col-start-1 col-span-4 mt-4 font-bold text-2xl text-darkText border-b border-darkText rounded-sm">
                    Emergency Contact:
                </div>
                <div>
                    <label class="form-label">Name:*</label>
                    {{ wizard.form.emergency_contact_name|add_class:"form-input" }}
                    {% if wizard.form.emergency_contact_name.errors %}
                        <div class="form-error">{{ wizard.form.emergency_contact_name.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label class="form-label">Contact Number:*</label>
                    {{ wizard.form.emergency_contact_contact|add_class:"form-input" }}
                    {% if wizard.form.emergency_contact_contact.errors %}
                        <div class="form-error">{{ wizard.form.emergency_contact_contact.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label class="form-label">Address:</label>
                    {{ wizard.form.emergency_contact_address|add_class:"form-input" }}
                    {% if wizard.form.emergency_contact_address.errors %}
                        <div class="form-error">{{ wizard.form.emergency_contact_address.errors }}</div>
                    {% endif %}
                </div>
                <div>
                    <label class="form-label">Relation with patient:</label>
                    {{ wizard.form.emergency_contact_relation|add_class:"form-input" }}
                    {% if wizard.form.emergency_contact_relation.errors %}
                        <div class="form-error">{{ wizard.form.emergency_contact_relation.errors }}</div>
                    {% endif %}
                </div>
                <div class="flex space-x-4 justify-end col-span-full">
                    <div onclick="history.back()" class="btn-secondary">Cancel</div>
                    <button type="submit" class="btn-primary">
                        {% if is_editing %}
                            Save Changes
                        {% else %}
                            Next
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
