{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="p-6">
        <p class="text-xl font-semibold">Medical History Information</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ wizard.management_form }}
            <!-- general Fields -->
            <div>
                <label class="block text-sm font-medium text-secondaryLogo">{{ wizard.form.chief_dental_complaint.label_tag }}</label>
                {{ wizard.form.chief_dental_complaint|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                {% if wizard.form.chief_dental_complaint.errors %}
                    <div class="text-dangerRed text-sm">{{ wizard.form.chief_dental_complaint.errors }}</div>
                {% endif %}
            </div>
            <div>
                <label class="block text-sm font-medium text-secondaryLogo">{{ wizard.form.marked_weight_change.label_tag }}</label>
                {{ wizard.form.marked_weight_change|add_class:"mt-1 block w-full px-4 py-2 border border-darkerPrimary rounded-md focus:outline-none focus:ring-1 focus:ring-primaryLogo" }}
                {% if wizard.form.marked_weight_change.errors %}
                    <div class="text-dangerRed text-sm">{{ wizard.form.marked_weight_change.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2">Next</button>
        </form>
    </div>
{% endblock content %}
