{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="p-6">
        <div class="flex items-center mb-6 space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="back-icon"
                 viewBox="0 0 20 20"
                 onclick="history.back()"
                 fill="none">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17l-7-7 7-7" />
            </svg>
            <p class="text-gray-700 text-2xl font-medium">
                {% if is_editing or is_editing_all %}
                    Edit
                {% else %}
                    Add
                {% endif %}
                Patient / Treatment Plan
            </p>
        </div>
        <div class="card">
            <form method="post" enctype="multipart/form-data" class="space-y-3">
                {% csrf_token %}
                {{ wizard.management_form }}
                <div>
                    <label class="form-label">{{ wizard.form.treatment_plan.label_tag }}</label>
                    {{ wizard.form.treatment_plan|attr:"rows:5"|add_class:"form-input" }}
                    {% if wizard.form.treatment_plan.errors %}
                        <div class="form-error">{{ wizard.form.treatment_plan.errors }}</div>
                    {% endif %}
                </div>
                <div class="flex space-x-4 justify-end col-span-full">
                    {% if not is_editing %}<div onclick="history.back()" class="btn-secondary">Previous</div>{% endif %}
                    <button type="submit" class="btn-primary">
                        {% if is_editing_all %}
                            Next
                        {% elif is_editing %}
                            Save Changes
                        {% else %}
                            Add Appointment
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
