{% extends "index.html" %}
{% block content %}
    <h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        <fieldset>
            {{ wizard.form.as_p }}
        </fieldset>
        <div>
            {% if wizard.steps.prev %}
                <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}">Previous</button>
            {% endif %}
            <button type="submit">Next</button>
        </div>
    </form>
{% endblock content %}
