{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="p-6">
        <div class="flex items-center mb-6 space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="back-icon"
                 viewBox="0 0 20 20"
                 onclick="history.back()"
                 fill="none">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17l-7-7 7-7" />
            </svg>
            <p class="text-gray-700 text-2xl font-medium">
                {% if is_editing %}
                    Edit
                {% else %}
                    Add
                {% endif %}
                Transaction
            </p>
        </div>
        <div class="bg-white rounded-lg shadow-sm border-2 border-primaryLogo p-6">
            <form method="post" class="grid grid-cols-3 md:grid-cols-2 gap-6">
                {% csrf_token %}
                <div>
                    <label class="form-label">{{ form.title.label_tag }}*</label>
                    {{ form.title|add_class:"form-input" }}
                    {% if form.title.errors %}<p class="form-error">{{ form.title.errors }}</p>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ form.amount.label_tag }}*</label>
                    {{ form.amount|add_class:"form-input" }}
                    {% if form.amount.errors %}<p class="form-error">{{ form.amount.errors }}</p>{% endif %}
                </div>
                <div>
                    <label class="form-label">{{ form.type.label_tag }}*</label>
                    {{ form.type|add_class:"form-input" }}
                    {% if form.type.errors %}<p class="form-error">{{ form.type.errors }}</p>{% endif %}
                </div>
                <div class="grid grid-cols-2 md:grid-cols-2 gap-6">
                    <div>
                        <label class="form-label">{{ form.date.label_tag }}*</label>
                        {{ form.date|attr:"type:date"|add_class:"form-input" }}
                        {% if form.date.errors %}<p class="form-error">{{ form.date.errors }}</p>{% endif %}
                    </div>
                    <div>
                        <label class="form-label">{{ form.time.label_tag }}*</label>
                        {{ form.time|attr:"type:time"|add_class:"form-input" }}
                        {% if form.time.errors %}<p class="form-error">{{ form.time.errors }}</p>{% endif %}
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="form-label">{{ form.description.label_tag }}</label>
                    {{ form.description|attr:"rows:2"|add_class:"form-input" }}
                    {% if form.description.errors %}<p class="form-error">{{ form.description.errors }}</p>{% endif %}
                </div>
                <div class="flex space-x-4 justify-end col-span-full">
                    <a href="{% url 'core:view_transaction' %}" class="btn-secondary">Cancel</a>
                    <button type="submit" class="btn-primary">
                        {% if is_editing %}
                            Update
                        {% else %}
                            Add
                        {% endif %}
                        Transaction
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
