{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Error Page</title>
        <meta name="description" content="Error page" />
        <meta name="keywords" content="error, DCMS" />
        <link href="{% static '/css/output.css' %}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.min.css"
              rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.min.js"></script>
        <style>
            .error{
                text-shadow: 
                    1px 1px 1px #018181,    
                    2px 2px 1px #018181,
                    3px 3px 1px #018181,
                    4px 4px 1px #018181,
                    5px 5px 1px #018181,
                    6px 6px 1px #018181,
                    7px 7px 1px #018181,
                    8px 8px 1px #018181,
                    25px 25px 8px rgba(0,0,0, 0.2);
            }
        </style>
    </head>
    <body class="bg-[#d4f4f4] min-h-screen text-center flex items-center justify-center">
        <div>
            <p class="error text-[150px] text-[#00b2b2] font-bold">404</p>
            <div class="my-8 text-2xl font-semibold text-[#444]">Oops! The page you are looking for cannot be found.</div>
            <a href="{% url 'core:dashboard' %}"
               class="inline-block border-2 mb-2 border-[#00b2b2] bg-[#00b2b2] text-white uppercase font-semibold py-3 px-4 rounded-md shadow-[0_15px_15px_-11px_rgba(0,0,0,0.4)] transition-all duration-200 hover:bg-[#018181] hover:text-[#ddd]">
                Back to dashboard
            </a>
            <p>
                Have an authorized access?
                <a href="{% url 'logout' %}"
                   class=" text-primaryLogo hover:text-darkerPrimary">Login Here</a>
            </p>
        </div>
        {% comment %} SweetAlert2 Toast Notifications {% endcomment %}
        {% if messages %}
            <script>
            {% for message in messages %}
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: '{{ message.tags }}',
                    title: '{{ message }}',
                    showConfirmButton: false,
                    timer: 3000,
                    background: '#F5F5F5',
                    iconColor: '{% if "success" in message.tags %}green{% elif "error" in message.tags %}red{% else %}yellow{% endif %}',
                    showClass: {
                        popup: 'animate__animated animate__fadeInRight'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutRight'
                    }
                });
            {% endfor %}
            </script>
        {% endif %}
    </body>
</html>
