{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Error Page</title>
        <meta name="description" content="Error page" />
        <meta name="keywords" content="error, DCMS" />
        <link href="{% static '/css/output.css' %}" rel="stylesheet">
        {% comment %} Include SweetAlert2 CSS {% endcomment %}
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.min.css"
              rel="stylesheet" />
        {% comment %} Include SweetAlert2 JS {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.min.js"></script>
    </head>
    <body class="bg-[radial-gradient(ellipse_at_center,_#f0f0f0_30%,_#91DEDE_50%,_#00B2B2_100%)] flex justify-center items-center h-screen">
        <div class="px-12 py-8 lg:w-1/2 md:w-2/4 text-center space-y-16">
            <p class="text-9xl font-bold text-primaryLogo">404 page</p>
            <p class="text-3xl text-secondaryLogo font-semibold pb-8">Looks like you lost your way.</p>
            <a href="{% url 'core:dashboard' %}"
               class="bg-primaryLogo py-2 px-4 text-white rounded-md text-2xl font-bold">Return to Dashboard</a>
        </div>
        {% comment %} SweetAlert2 Toast Notifications {% endcomment %}
        {% if messages %}
            <script>
            {% for message in messages %}
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: '{{ message.tags }}',
                    title: '{{ message }}',
                    showConfirmButton: false,
                    timer: 3000,
                    background: '#F5F5F5',
                    iconColor: '{% if "success" in message.tags %}green{% elif "error" in message.tags %}red{% else %}yellow{% endif %}',
                    showClass: {
                        popup: 'animate__animated animate__fadeInRight'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutRight'
                    }
                });
            {% endfor %}
            </script>
        {% endif %}
    </body>
</html>
