{% load static %}
<header class="bg-white shadow-sm border-b-2 border-[#00B2B2]">
    <div class="px-4 sm:px-2 lg:px-4 py-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-black">{{ page_title|default:"Dashboard" }}</h1>
        <div class="flex items-center space-x-2">
            <span class="text-secondary">Welcome, {{ request.user.username }}</span>
            <a href="{% url 'profile' %}">
                <img src="{% static 'images/profile/user_profile.svg' %}"
                     alt="profile"
                     width="30px"
                     height="0px">
            </a>
        </div>
    </div>
</header>
