{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login page" />
    <meta name="keywords" content="login, DCMS" />
    <title>{{ page_title|default:"home" }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#00B2B2',
                        secondary: '#7C7C7C',
                        wood: {
                            light: '#E8D0B3',
                            medium: '#D2691E',
                            dark: '#8B4513',
                            darker: '#966F33'
                        }
                    }
                }
            }
        }
    </script>
    <style>
      .no-scrollbar::-webkit-scrollbar {
        display: none; 
      }
      
      .no-scrollbar {
        -ms-overflow-style: none; 
      }
    </style>
  </head>
  <body class="bg-[#ECF4F4] min-h-screen">
    {% comment %} Sidebar {% endcomment %}
    <aside class="fixed top-0 left-0 h-screen w-56 bg-[#00b2b2] border-r-2 border-[#00B2B2]">
      <div class="px-4">
        <div class="flex text-center justify-center">
          <img src="{% static 'images/logo/logo.png' %}"
               alt="Logo"
               width="full"
               height="full"
               class="h-40 object-contain mx-auto">
        </div>
        <nav class="space-y-1">
          <a href="{% url 'core:home' %}"
             class="flex items-center space-x-3 px-4 py-2.5 rounded-lg bg-white text-[#00b2b2]">
            <span>Dashboard</span>
          </a>
          <a href="{% url 'core:home' %}"
             class="flex items-center space-x-3 px-4 py-2.5 rounded-lg text-white">
            <span>Doctors</span>
          </a>
          <a href="{% url 'core:home' %}"
             class="flex items-center space-x-3 px-4 py-2.5 rounded-lg text-white">
            <span>Staff</span>
          </a>
          <a href="{% url 'core:home' %}"
             class="flex items-center space-x-3 px-4 py-2.5 rounded-lg text-white">
            <span>Patients</span>
          </a>
          <a href="{% url 'core:home' %}"
             class="flex items-center space-x-3 px-4 py-2.5 rounded-lg text-white">
            <span>Appointment</span>
          </a>
          <a href="{% url 'core:home' %}"
             class="flex items-center space-x-3 px-4 py-2.5 rounded-lg text-white">
            <span>Schedule</span>
          </a>
        </nav>
      </div>
    </aside>
    <div class="ml-56">
      {% comment %} header {% endcomment %}
      <header class="bg-white shadow-sm border-b-2 border-[#00B2B2]">
        <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-2 py-4 flex justify-between items-center">
          <h1 class="text-2xl font-bold text-black">{{ page_title|default:"Dashboard" }}</h1>
          <div class="flex items-center space-x-4">
            <span class="text-secondary">Welcome, {{ request.user.username }}</span>
          </div>
        </div>
      </header>
      {% comment %} main {% endcomment %}
      <main class="max-w-7xl mx-auto px-4 sm:px-2 lg:px-8 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 h-full">
          <div class="h-[188px]">
            <p class="text-black text-2xl font-semibold">Good Afternoon, {{ request.user.username }}!</p>
            <p class="text-secondary">Today is {% now "l, F j, Y" %}</p>
            <p class="text-secondary">The time is currently {% now "g:i A" %}</p>
            <br />
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 h-full">
              <div class="bg-white rounded-lg shadow-sm p-6 border-2 border-[#00B2B2] text-center flex flex-col justify-center items-center">
                <img src="{% static 'images/dashboard/Patients.png' %}"
                     alt="patient"
                     width="full"
                     height="full"
                     class="w-12 h-12 object-contain mx-auto">
                <h3 class="text-xl font-semibold mb-2">120</h3>
                <p class="text-secondary">Total Patients</p>
              </div>
              <div class="bg-white rounded-lg shadow-sm p-6 border-2 border-[#00B2B2] text-center flex flex-col justify-center items-center">
                <img src="{% static 'images/dashboard/Schedule.png' %}"
                     alt="appointment"
                     width="full"
                     height="full"
                     class="w-12 h-12 object-contain mx-auto">
                <h3 class="text-xl font-semibold">12</h3>
                <p class="text-secondary">Scheduled Appointments</p>
              </div>
              <div class="bg-white rounded-lg shadow-sm p-6 border-2 border-[#00B2B2] text-center">
                <h3 class="text-xl font-semibold">7/12</h3>
                <p class="text-secondary">Appointments Completed</p>
              </div>
            </div>
          </div>
          <div class="bg-white rounded-lg shadow-sm p-6 border-2 border-[#00B2B2] h-full">
            <div class="text-center">
              <h3 class="text-xl font-semibold">Follow up</h3>
            </div>
            <hr class="bg-[#00B2B0] h-1 my-2 rounded-sm">
            <div class="h-48 overflow-y-scroll no-scrollbar">
              <div>
                <p class="text-black font-bold">Lorem Ipsum</p>
                <p class="text-secondary text-justify">
                  Lorem ipsum dolor sit amet consectetur. Non risus nec viverra sagittis tempus. Commodo ullamcorper nec tortor augue sed aliquet. Mattis blandit eget nisl porta et convallis.
                </p>
                <p class="text-secondary text-right">Date: 18/08/2024</p>
              </div>
              <hr class="bg-[#00B2B0] h-1 my-2 rounded-sm">
              <div>
                <p class="text-black font-bold">Lorem Ipsum</p>
                <p class="text-secondary text-justify">
                  Lorem ipsum dolor sit amet consectetur. Non risus nec viverra sagittis tempus. Commodo ullamcorper nec tortor augue sed aliquet. Mattis blandit eget nisl porta et convallis.
                </p>
                <p class="text-secondary text-right">Date: 18/08/2024</p>
              </div>
            </div>
          </div>
          <div class="bg-white rounded-lg shadow-sm p-6 border-2 border-[#00B2B2] h-full">
            <div>
              <h3 class="text-xl font-semibold">Today's Appointments</h3>
            </div>
            <table class="w-full bg-white text-left text-sm text-gray-700">
              <thead class=" text-gray-600 text-xs">
                <tr>
                  <th class="px-2 py-3 border-b">Appointment ID</th>
                  <th class="px-2 py-3 border-b">Patient Name</th>
                  <th class="px-2 py-3 border-b">Contact</th>
                  <th class="px-2 py-3 border-b">Time</th>
                  <th class="px-2 py-3 border-b">Status</th>
                  <th class="px-2 py-3 border-b">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tbody>
                  <tr class="border-b hover:bg-gray-50">
                    <td class="px-2 py-4">1</td>
                    <td class="px-2 py-4 font-medium text-gray-900">John Doe</td>
                    <td class="px-2 py-4">9874564418</td>
                    <td class="px-2 py-4">10:00 A.M.</td>
                    <td class="px-2 py-4 text-green-500">Completed</td>
                    <td class="px-2 py-4 flex space-x-2">
                      <p class="text-[#00b2b2]">Edit</p>
                      <p class="text-red-600">Delete</p>
                    </td>
                  </tr>
                  <tr class="border-b hover:bg-gray-50">
                    <td class="px-2 py-4">2</td>
                    <td class="px-2 py-4 font-medium text-gray-900">John Doe</td>
                    <td class="px-2 py-4">9874564418</td>
                    <td class="px-2 py-4">12:00 P.M.</td>
                    <td class="px-2 py-4 text-yellow-500">Pending</td>
                    <td class="px-2 py-4 flex space-x-2">
                      <p class="text-[#00b2b2]">Edit</p>
                      <p class="text-red-600">Delete</p>
                    </td>
                  </tr>
                  <tr class="border-b hover:bg-gray-50">
                    <td class="px-2 py-4">3</td>
                    <td class="px-2 py-4 font-medium text-gray-900">Jane Doe</td>
                    <td class="px-2 py-4">9874564418</td>
                    <td class="px-2 py-4">2:00 P.M.</td>
                    <td class="px-2 py-4 text-yellow-500">Pending</td>
                    <td class="px-2 py-4 flex space-x-2">
                      <p class="text-[#00b2b2]">Edit</p>
                      <p class="text-red-600">Delete</p>
                    </td>
                  </tr>
                </tbody>
                {% comment %} {% for appointment in appointments %}
                  <tr class="border-b hover:bg-gray-50">
                    <td class="px-2 py-4">{{ appointment.id }}</td>
                    <td class="px-2 py-4 font-medium text-gray-900">{{ appointment.patient_name }}</td>
                    <td class="px-2 py-4">{{ appointment.contact }}</td>
                    <td class="px-2 py-4">{{ appointment.time }}</td>
                    <td class="px-2 py-4">
                      <span class="{% if appointment.status == 'Completed' %}text-green-500{% else %}text-yellow-500{% endif %}">
                        {{ appointment.status }}
                      </span>
                    </td>
                    <td class="px-2 py-4 flex space-x-2">
                      <p class="text-[#00b2b2]">Edit</p>
                      <p class="text-red-600">Delete</p>
                    </td>
                  </tr>
                {% endfor %} {% endcomment %}
              </tbody>
            </table>
          </div>
          <div class="bg-white rounded-lg shadow-sm p-6 border-2 border-[#00B2B2] h-full">
            <div class="text-center">
              <h3 class="text-xl font-semibold">Patient Summary</h3>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script>
        {% comment %} Function to show toast {% endcomment %}
        function showToast(type, message) {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });

            Toast.fire({
                icon: type,
                title: message
            });
        }

    </script>
    {% if messages %}
      <script>{% for message in messages %}showToast('{{ message.tags }}', '{{ message.message }}');{% endfor %}</script>
    {% endif %}
  </body>
</html>
