{% load static %}
<aside class="fixed top-0 left-0 h-screen w-56 bg-[#00b2b2] border-r-2 border-[#00B2B2]">
    <div class="px-4">
        <div class="flex text-center justify-center">
            <img src="{% static 'images/logo/logo.png' %}"
                 alt="Logo"
                 width="full"
                 height="full"
                 class="h-40 object-contain mx-auto">
        </div>
        <nav class="space-y-1">
            <a href="{% url 'core:dashboard' %}"
               class="flex items-center space-x-3 px-4 py-2.5 rounded-lg {% if active_page == 'dashboard' %}bg-white text-[#00b2b2]{% else %}text-white{% endif %}">
                <span>Dashboard</span>
            </a>
            <a href="{% url 'core:doctor' %}"
               class="flex items-center space-x-3 px-4 py-2.5 rounded-lg {% if active_page == 'doctor' %}bg-white text-[#00b2b2]{% else %}text-white{% endif %}">
                <span>Doctors</span>
            </a>
            <a href="{% url 'core:staff' %}"
               class="flex items-center space-x-3 px-4 py-2.5 rounded-lg {% if active_page == 'staff' %}bg-white text-[#00b2b2]{% else %}text-white{% endif %}">
                <span>Staff</span>
            </a>
            <a href="{% url 'core:patient' %}"
               class="flex items-center space-x-3 px-4 py-2.5 rounded-lg {% if active_page == 'patient' %}bg-white text-[#00b2b2]{% else %}text-white{% endif %}">
                <span>Patients</span>
            </a>
            <a href="{% url 'core:appointment' %}"
               class="flex items-center space-x-3 px-4 py-2.5 rounded-lg {% if active_page == 'appointment' %}bg-white text-[#00b2b2]{% else %}text-white{% endif %}">
                <span>Appointment</span>
            </a>
            <a href="{% url 'core:schedule' %}"
               class="flex items-center space-x-3 px-4 py-2.5 rounded-lg {% if active_page == 'schedule' %}bg-white text-[#00b2b2]{% else %}text-white{% endif %}">
                <span>Schedule</span>
            </a>
        </nav>
    </div>
</aside>
