{% extends "index.html" %}
{% load static %}
{% block content %}
    <div class="mx-auto p-4 sm:p-2 lg:p-5 max-w-8xl">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 auto-rows-min">
            <div class="flex flex-col h-full ">
                <div>
                    <p id="greeting" class="text-darkText text-2xl font-semibold"></p>
                    <p class="my-2">Today is {% now "l, F j, Y" %}</p>
                </div>
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 flex-grow">
                    <div class="bg-white rounded-lg shadow-sm p-6 border-2 border-primaryLogo flex flex-col justify-center items-center text-center space-y-2 h-full">
                        <img src="{% static 'images/dashboard/Lab.png' %}"
                             alt="lab"
                             width="full"
                             height="full"
                             class="w-12 h-12 object-contain">
                        <h3 class="text-xl font-semibold">{{ lab_orders|default:"0" }}</h3>
                        <p>Lab Orders</p>
                    </div>
                    <div class="bg-white rounded-lg shadow-sm p-6 border-2 border-primaryLogo flex flex-col justify-center items-center space-y-2 text-center h-full">
                        <img src="{% static 'images/dashboard/Xray.png' %}"
                             alt="xray"
                             width="full"
                             height="full"
                             class="w-12 h-12 object-contain">
                        <h3 class="text-xl font-semibold">{{ x_rays_taken }}</h3>
                        <p>X-Rays Taken</p>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-sm p-6 border-2 border-primaryLogo flex flex-col justify-center items-center h-full relative">
                <p class="mb-6 text-xl text-center font-semibold">Appointment Status</p>
                <div class="w-full relative">
                    <canvas id="appointmentCompletion"></canvas>
                    <div id="no-data-message"
                         class="absolute inset-0 items-center text-center justify-center text-gray-500 font-semibold hidden">
                        No Data Available
                    </div>
                </div>
            </div>
            <div>
                <form method="get" class="text-right mb-6">
                    <select name="filter"
                            onchange="this.form.submit()"
                            class="px-3 py-1.5 border-2 border-primaryLogo rounded focus:outline-none focus:ring-1 focus:ring-primaryLogo">
                        <option value="daily" {% if time_filter == 'daily' %}selected{% endif %}>Daily</option>
                        <option value="weekly" {% if time_filter == 'weekly' %}selected{% endif %}>Weekly</option>
                        <option value="monthly" {% if time_filter == 'monthly' %}selected{% endif %}>Monthly</option>
                        <option value="quarterly"
                                {% if time_filter == 'quarterly' %}selected{% endif %}>Quarterly</option>
                        <option value="yearly" {% if time_filter == 'yearly' %}selected{% endif %}>Yearly</option>
                        <option value="overall" {% if time_filter == 'overall' %}selected{% endif %}>Overall</option>
                    </select>
                </form>
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 h-max">
                    <div class="bg-white rounded-lg shadow-sm p-6 border-2 border-primaryLogo flex flex-col justify-center items-center text-center space-y-2">
                        <img src="{% static 'images/dashboard/Patients.png' %}"
                             alt="patient"
                             width="full"
                             height="full"
                             class="w-12 h-12 object-contain">
                        <h3 class="text-xl font-semibold">{{ total_patient }}</h3>
                        <p>Registered Patients</p>
                    </div>
                    <div class="bg-white rounded-lg shadow-sm p-6 border-2 border-primaryLogo flex flex-col justify-center items-center space-y-2 text-center">
                        <img src="{% static 'images/dashboard/Schedule.png' %}"
                             alt="appointment"
                             width="full"
                             height="full"
                             class="w-12 h-12 object-contain">
                        <h3 class="text-xl font-semibold">{{ total_appointment }}</h3>
                        <p>Scheduled Appointments</p>
                    </div>
                </div>
            </div>
            <div class="col-span-1 md:col-span-2 lg:col-span-3 grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="bg-white rounded-lg shadow-sm p-4 border-2 border-primaryLogo min-h-[24rem] overflow-y-auto no-scrollbar">
                    <h3 class="text-xl font-semibold mb-3">Pending Appointments</h3>
                    {% if pending_appointments %}
                        <div class="relative overflow-x-auto">
                            <table class="min-w-full my-3 table-fixed">
                                <thead class="sticky top-0 bg-white border-b-2 border-primaryLogo">
                                    <tr class="text-center">
                                        <th class="w-1/4 py-2 px-2">Patient Name</th>
                                        <th class="w-1/5 py-2 px-2">Date</th>
                                        <th class="w-1/5 py-2 px-2">Time</th>
                                        <th class="w-1/5 py-2 px-2">Status</th>
                                        <th class="w-1/5 py-2 px-2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="max-h-64 overflow-y-auto ">
                                    {% for appointment in pending_appointments %}
                                        <tr class="border-b text-center last:border-b-0">
                                            <td class="w-1/4 py-2 px-2 text-ellipsis overflow-hidden whitespace-nowrap">{{ appointment.patient.name }}</td>
                                            <td class="w-1/5 py-2 px-2">{{ appointment.date }}</td>
                                            <td class="w-1/5 py-2 px-2">{{ appointment.time }}</td>
                                            <td class="w-1/5 py-2 px-2 {% if appointment.status == 'Completed' %}text-green-700{% elif appointment.status == 'Pending' %}text-yellow-700{% else %}text-red-700{% endif %}">
                                                {{ appointment.status }}
                                            </td>
                                            <td class="w-1/5 py-2 px-2">
                                                <div class="flex justify-center space-x-3">
                                                    <a href="{% url 'core:view_appointment' appointment.id %}"
                                                       class="inline-flex items-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             width="20"
                                                             height="20"
                                                             viewBox="0 0 20 20"
                                                             class="cursor-pointer">
                                                            <path fill="none" stroke="#7c7c7c" stroke-width="1.5" d="M9.999996 17.499993c-4.1679675 0-9.1679655-4.1679675-9.1679655-7.499997s4.999998-7.499997 9.1679655-7.499997c4.16796667 0 9.16796467 4.1679675 9.16796467 7.499997s-4.999998 7.499997-9.16796467 7.499997Zm0-11.6679645c-2.30078075 0-4.1679675 1.86718675-4.1679675 4.1679675 0 2.30077991 1.86718675 4.16796667 4.1679675 4.16796667 2.30077991 0 4.16796667-1.86718676 4.16796667-4.16796667 0-2.30078075-1.86718676-4.1679675-4.16796667-4.1679675Zm0 0" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="text-center text-gray-500 py-4">No registered appointments found.</p>
                    {% endif %}
                </div>
                <div class="bg-white rounded-lg shadow-sm p-6 border-2 border-primaryLogo">
                    <h3 class="text-xl font-semibold text-center mb-4">Follow-Ups</h3>
                    <div class="max-h-72 overflow-y-auto pr-2 space-y-1">
                        {% if follow_ups %}
                            {% for follow_up in follow_ups %}
                                <div class="block mx-1 px-1 space-y-1 py-2 border-b-2 border-primaryLogo last:border-b-0">
                                    <div class="flex justify-between">
                                        <div class="w-4/5">
                                            <p class="text-lg font-bold text-secondaryLogo">{{ follow_up.patient.name }}</p>
                                            <p class="text-sm text-gray-600">
                                                <span class="font-medium">Contact:</span> {{ follow_up.patient.contact|default:"N/A" }}
                                            </p>
                                            <p class=" text-gray-600">
                                                <span class="font-medium">Last appointment description:</span> {{ follow_up.description|default:"No description provided" }}
                                            </p>
                                        </div>
                                        <div class="text-right w-1/5 space-y-1">
                                            <p class="text-lg font-semibold text-primaryLogo">{{ follow_up.get_follow_up_date|date:"M j, Y" }}</p>
                                            <p class="text-xs text-gray-500">{{ follow_up.get_follow_up_date|date:"l" }}</p>
                                            {% if follow_up.get_follow_up_date == today %}
                                                <span class="inline-block px-2 py-1 text-xs font-medium text-white bg-primaryLogo rounded-full">Today</span>
                                            {% elif follow_up.get_follow_up_date < today %}
                                                <span class="inline-block px-2 py-1 text-xs font-medium text-white bg-red-500 rounded-full">Overdue</span>
                                            {% elif follow_up.get_follow_up_date <= today_plus_2 and follow_up.get_follow_up_date > today %}
                                                <span class="inline-block px-2 py-1 text-xs font-medium text-white bg-yellow-500 rounded-full">Soon</span>
                                            {% else %}
                                                <span class="inline-block px-2 py-1 text-xs font-medium text-white bg-green-500 rounded-full">Later</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="text-center text-gray-500 py-4">No upcoming follow-ups within the next week.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            function updateGreetingAndTime() {
                const now = new Date();
                const hours = now.getHours();
                const username = "{{ request.user.username }}"; 
                
                let greeting;
                if (hours < 12) {
                    greeting = "Good Morning";
                } else if (hours < 17) {
                    greeting = "Good Afternoon";
                } else if (hours < 20) {
                    greeting = "Good Evening";
                } else {
                    greeting = "Good Night";
                }

                document.getElementById("greeting").textContent = `${greeting}, ${username}!`;

                const timeString = now.toLocaleTimeString([], { hour: 'numeric', minute: '2-digit', hour12: true });
                document.getElementById("current-time").textContent = `The time is currently ${timeString}`;
            }

            updateGreetingAndTime();


            setInterval(updateGreetingAndTime, 60000);
            });
    </script>
    {% comment %} for charts {% endcomment %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const appointmentData = JSON.parse("{{ appointment_data|escapejs }}");
            const ctx = document.getElementById('appointmentCompletion').getContext('2d');
            const noDataMessage = document.getElementById('no-data-message');

            // Check if there's no data
            const hasData = Object.values(appointmentData).some(value => value > 0);

            if (!hasData) {
                noDataMessage.classList.remove('hidden');
            } else {
                noDataMessage.classList.add('hidden');
                new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: Object.keys(appointmentData),  
                        datasets: [{
                            label: 'Appointments Status',
                            data: Object.values(appointmentData), 
                            backgroundColor: ['#00B2B2', '#7c7c7c', '#B20003'],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        cutout: 40, 
                        responsive: true,
                        aspectRatio: 2.5, 
                        plugins: {
                            legend: {
                                position: 'right',
                                labels: {
                                    boxWidth: 20,
                                    padding: 15,
                                    font: {
                                        size: 14
                                    }
                                }
                            },
                            tooltip: {
                                callbacks: {
                                    label: function(tooltipItem) {
                                        let value = tooltipItem.raw;
                                        return ` ${value} appointments`;
                                    }
                                }
                            }
                        }
                    }
                });
            }
        });
    </script>
{% endblock content %}
