{% extends "index.html" %}
{% load static %}
{% block content %}
    {% load widget_tweaks %}
    <div class="p-8">
        <div class="flex justify-between items-center w-full mb-6">
            <p class="text-3xl font-bold">{{ user.get_full_name }}'s Profile</p>
            <a href="{% url 'edit_profile' %}"
               class="inline-flex items-center px-3 py-1.5 bg-primaryLogo text-white rounded-lg hover:bg-darkerPrimary space-x-2 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="20"
                     height="20"
                     viewBox="0 0 20 20">
                    <g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
                    <path d="m11.05077641 2.9999988-6.84374726 7.2421846c-.25781156.2734374-.5078123.81640551-.5585931 1.1914062l-.30468739 2.69921725c-.10937495.9765621.5898431 1.64062434 1.55468688 1.4765619l2.68359226-.4609373c.37500068-.06640665.9023438-.33984404 1.1601562-.62499976l6.83984143-7.23827794c1.18359286-1.2499995 1.71874932-2.6757806-.12500078-4.4179674-1.8320301-1.7265618-3.22265454-1.11718705-4.40624824.13281245Zm0 0" />
                    <path d="M9.90624604 4.20702915c.35937485 2.30078075 2.2265616 4.05859254 4.54296735 4.29296745M2.499999 18.3320235h14.999994" />
                    </g>
                </svg>
                <p>Edit Profile</p>
            </a>
        </div>
        <div class="bg-white p-8 rounded-lg shadow-sm border-2 border-[#00B2B2] grid grid-cols-4 sm:grid-cols-1 md:grid-cols-3 gap-4">
            <div>
                <p class="text-xl font-semibold text-gray-800">Id Number</p>
                <p class="text-lg">{{ user.id }}</p>
            </div>
            <div>
                <p class="text-xl font-semibold text-gray-800">Full Name</p>
                <p class="text-lg">{{ user.get_full_name }}</p>
            </div>
            <div>
                <p class="text-xl font-semibold text-gray-800">Email Address</p>
                <p class="text-lg">{{ user.email }}</p>
            </div>
            <div class="row-span-4 col-start-4 relative h-72 w-72 border-2 border-primaryLogo overflow-hidden flex items-center justify-center mx-auto rounded-full mr-6">
                <img src="{{ user.profile_image.url }}"
                     alt="{{ user.get_full_name }}"
                     class="object-fill absolute scale-110"
                     width="full"
                     height="full" />
            </div>
            <div>
                <p class="text-xl font-semibold text-gray-800">Username</p>
                <p class="text-lg">{{ user.username }}</p>
            </div>
            <div>
                <p class="text-xl font-semibold text-gray-800">Address</p>
                <p class="text-lg">{{ user.address }}</p>
            </div>
            <div>
                <p class="text-xl font-semibold text-gray-800">Contact Number</p>
                <p class="text-lg">{{ user.contact }}</p>
            </div>
            <div>
                <p class="text-xl font-semibold text-gray-800">Role</p>
                <p class="text-lg">{{ user.role|capfirst }}</p>
            </div>
            {% if user.role == 'Staff' %}
                <div>
                    <p class="text-xl font-semibold text-gray-800">Position</p>
                    <p class="text-lg">{{ user.position }}</p>
                </div>
            {% elif user.role == 'Doctor' %}
                <div class="col-start-1">
                    <p class="text-xl font-semibold text-gray-800">Type</p>
                    <p class="text-lg">{{ user.type }}</p>
                </div>
                <div>
                    <p class="text-xl font-semibold text-gray-800">Specialization</p>
                    <p class="text-lg">{{ user.specialization }}</p>
                </div>
                <div>
                    <p class="text-xl font-semibold text-gray-800">Qualification</p>
                    <p class="text-lg">{{ user.qualification }}</p>
                </div>
                <div>
                    <p class="text-xl font-semibold text-gray-800">NMC Number</p>
                    <p class="text-lg">{{ user.nmc_no }}</p>
                </div>
            {% endif %}
            <div class="col-span-full">
                <p class="text-xl font-semibold text-gray-800">Biography</p>
                <p class="text-lg">{{ user.biography }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
