{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset Password Sent</title>
        <meta name="description" content="password reset sent page" />
        <meta name="keywords" content="password, DCMS" />
        <link href="{% static '/css/output.css' %}" rel="stylesheet">
    </head>
    <body class="bg-gradient-to-r from-[#e9efef] to-[#00B2B2] flex justify-center items-center h-screen">
        <div class="card  lg:w-2/5 md:w-1/2">
            <p class="lg:text-4xl md:text-3xl text-2xl font-bold text-center mb-8 text-darkText">Reset Password Sent</p>
            <p class="mb-4">
                We've sent you an email with instructions to reset your password. If an account exists for the email you provided, you'll receive it soon.
            </p>
            <p>If you don’t receive an email, Please verify the email address you entered and check your spam or junk folder.</p>
        </div>
    </body>
</html>
