{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset Password</title>
        <meta name="description" content="reset password page" />
        <meta name="keywords" content="reset, password, DCMS" />
        <link href="{% static '/css/output.css' %}" rel="stylesheet">
    </head>
    <body class="bg-gradient-to-r from-[#e9efef] to-[#00B2B2] flex justify-center items-center h-screen">
        <div class="card lg:w-1/3 md:w-1/2">
            <p class="lg:text-4xl md:text-3xl text-2xl font-bold text-center mb-8 text-darkText">Reset Password</p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="form-label">{{ form.email.label_tag }}</label>
                    {{ form.email|add_class:"form-input" }}
                </div>
                <input type="submit"
                       class="w-full btn-primary flex justify-center font-semibold text-lg"
                       name="Send Email">
            </form>
        </div>
    </body>
</html>
