{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset Password</title>
        <meta name="description" content="reset password page" />
        <meta name="keywords" content="reset, password, DCMS" />
        <link href="{% static '/css/output.css' %}" rel="stylesheet">
    </head>
    <body class="bg-gradient-to-r from-[#e9efef] to-[#00B2B2] flex justify-center items-center h-screen">
        <div class="bg-white p-8 rounded-lg shadow-md lg:w-1/4 md:w-2/4 border-2 border-primaryLogo">
            <p class="lg:text-5xl md:text-4xl text-3xl font-bold text-center mb-8 text-[#1d2a2a]">Reset Password</p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-sm font-medium text-gray-700">{{ form.email.label_tag }}</label>
                    {{ form.email|add_class:"mt-1 block w-full px-4 py-2 border rounded-md text-gray-900 focus:outline-none focus:ring focus:ring-blue-500" }}
                </div>
                <input type="submit"
                       class="w-full bg-primaryLogo text-white py-2 px-4 rounded-md hover:bg-[#00A1A1] focus:outline-none focus:ring focus:ring-primaryLogo"
                       name="Send Email">
            </form>
        </div>
    </body>
</html>
