{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset Password Done</title>
        <meta name="description" content="password done page" />
        <meta name="keywords" content="password, DCMS" />
        <link href="{% static '/css/output.css' %}" rel="stylesheet">
    </head>
    <body class="bg-gradient-to-r from-[#e9efef] to-primaryLogo flex justify-center items-center h-screen">
        <div class="bg-white p-8 rounded-lg shadow-md  lg:w-2/5 md:w-2/4 border-2 border-primaryLogo text-center ">
            <h2 class="lg:text-4xl md:text-3xl text-2xl text-darkText font-bold mb-4">Password Reset Complete</h2>
            <p class="mb-4">
                Your password has been successfully reset.
                <br />
                You can now log in with your new password.
            </p>
            <a href="{% url 'login' %}"
               class="flex w-full mx-auto justify-center bg-primaryLogo text-white py-2 rounded hover:bg-darkerPrimary focus:outline-none focus:ring focus:ring-darkerPrimary">
                Go to Login
            </a>
        </div>
    </body>
</html>
