{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset Password Sent</title>
        <meta name="description" content="password reset sent page" />
        <meta name="keywords" content="password, DCMS" />
        <link href="{% static '/css/output.css' %}" rel="stylesheet">
    </head>
    <body class="bg-gradient-to-r from-[#e9efef] to-[#00B2B2] flex justify-center items-center h-screen">
        <div class="bg-white p-8 rounded-lg shadow-md lg:w-1/4 md:w-2/4 border-2 border-primaryLogo">
            <p class="lg:text-5xl md:text-4xl text-3xl font-bold text-center mb-8 text-[#1d2a2a]">Reset Password Sent</p>
            <p class="mb-4">
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            </p>
            <p>
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
            </p>
        </div>
    </body>
</html>
